@forward 'pkg:govuk-frontend' with (
  $govuk-assets-path: '/public/assets/',
  $govuk-new-organisation-colours: true,
  $govuk-global-styles: true,
  $govuk-include-default-font-face: false,
  $govuk-font-family: (
    'Helvetica',
    'Arial',
    sans-serif
  )
);
