ENABLE_AI_CONTENT=true
AI_TOOLKIT_NOTIFY_KEY="dummy_key"
AI_TOOLKIT_TRIAGE_TEMPLATE_ID="dummy_template_id"
AICE_SHARED_MAILBOX_EMAIL="ai@example.com"
SESSION_COOKIE_PASSWORD="dummy-session-cookie-password-12"
