<nav class="defra-service-navigation" aria-label="Main navigation" data-module="defra-service-navigation">
  <div class="defra-service-navigation__inner">
    <button type="button" class="defra-service-navigation__toggle js-service-navigation-toggle" aria-controls="landing-navigation-list" aria-expanded="false" hidden>
      Menu
    </button>
    <ul class="defra-service-navigation__list" id="landing-navigation-list">
      <li class="defra-service-navigation__item">
        <a class="defra-service-navigation__link" href="/service-manual">
          Service Manual
        </a>
      </li>
      <li class="defra-service-navigation__item">
        <a class="defra-service-navigation__link" href="/delivery-groups">
          Delivery Groups
        </a>
      </li>
      <li class="defra-service-navigation__item">
        <a class="defra-service-navigation__link" href="#">
          Secure by Design
        </a>
      </li>
      <li class="defra-service-navigation__item">
        <a class="defra-service-navigation__link" href="#">
          AI Handbook
        </a>
      </li>
    </ul>
  </div>
</nav>
