<nav aria-label="Manual sections">
  <ul class="govuk-list govuk-list--spaced">
    <li>
      <a
        href="/"
        class="govuk-link{% if currentUrl == '/' %} manual-navigation__link--current{% endif %}"
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/service-standard"
        class="govuk-link{% if currentUrl == '/service-standard' %} manual-navigation__link--current{% endif %}"
      >
        Service standard
      </a>
    </li>
    <li>
      <a
        href="/sustainability"
        class="govuk-link{% if currentUrl == '/sustainability' %} manual-navigation__link--current{% endif %}"
      >
        Sustainability
      </a>
    </li>
    <li>
      <a
        href="/components"
        class="govuk-link{% if currentUrl == '/components' %} manual-navigation__link--current{% endif %}"
      >
        Components
      </a>
    </li>
    <li>
      <a
        href="/patterns"
        class="govuk-link{% if currentUrl == '/patterns' %} manual-navigation__link--current{% endif %}"
      >
        Patterns
      </a>
    </li>
    <li>
      <a
        href="/accessibility"
        class="govuk-link{% if currentUrl == '/accessibility' %} manual-navigation__link--current{% endif %}"
      >
        Accessibility
      </a>
    </li>
    <li>
      <a
        href="/working-with-defra"
        class="govuk-link{% if currentUrl == '/working-with-defra' %} manual-navigation__link--current{% endif %}"
      >
        Working with Defra
      </a>
    </li>
  </ul>
</nav>
