<nav class="app-sub-navigation" aria-label="Sub navigation">
  
  <h3 class="app-subnav__header">In this section</h3>
  <ul class="app-subnav__list">
    <li class="app-subnav__item">
      <a class="app-subnav__link{% if currentUrl == '/sustainability' %} app-subnav__link--current{% endif %}" href="/sustainability"{% if currentUrl == '/sustainability' %} aria-current="page"{% endif %}>
        Deliver a sustainable service
      </a>
    </li>
    <li class="app-subnav__item">
      <a class="app-subnav__link{% if currentUrl == '/sustainability/objectives' %} app-subnav__link--current{% endif %}" href="/sustainability/objectives"{% if currentUrl == '/sustainability/objectives' %} aria-current="page"{% endif %}>
        Defra's six objectives
      </a>
    </li>
  </ul>

  <h3 class="app-subnav__header">How to do this</h3>
  <ul class="app-subnav__list">
    <li class="app-subnav__item">
      <a class="app-subnav__link{% if currentUrl == '/sustainability/process' %} app-subnav__link--current{% endif %}" href="/sustainability/process"{% if currentUrl == '/sustainability/process' %} aria-current="page"{% endif %}>
        Assess risk and write statements
      </a>
    </li>
    <li class="app-subnav__item">
      <a class="app-subnav__link{% if currentUrl == '/sustainability/metrics' %} app-subnav__link--current{% endif %}" href="/sustainability/metrics"{% if currentUrl == '/sustainability/metrics' %} aria-current="page"{% endif %}>
        Measure sustainability
      </a>
    </li>
  </ul>

</nav>

