@use '../variables/colours' as *;

// ===== Primary navigation =====

.defra-primary-nav {
  background-color: $defra-dark-green;
  margin-bottom: 0;
}

.defra-primary-nav__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 8px 15px 6px;
}

.defra-primary-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.defra-primary-nav__link {
  &,
  &:link,
  &:visited {
    color: $govuk-white;
    text-decoration: underline;
    text-underline-offset: 0.15em;
    font-size: 16px;
    font-weight: 400;
  }

  &:hover,
  &:focus {
    color: $govuk-white;
    text-decoration: underline;
  }
}

.defra-primary-nav__link--current {
  &,
  &:link,
  &:visited {
    color: $govuk-white;
    text-decoration: underline;
  }
}

// ===== Manual navigation =====

.manual-navigation__link--current {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// ===== Sub navigation (side nav) =====

.app-subnav {
  padding: 0;
  margin-bottom: 30px;
}

.app-subnav__section {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-subnav__section-item {
  padding: 10px 0;
  border-bottom: 1px solid $govuk-mid-grey;

  &:first-child {
    padding-top: 0;
  }

  &--current .app-subnav__link {
    font-weight: bold;
    text-decoration: none;
  }
}

// ===== App sub-navigation (section navigation) =====

.app-sub-navigation {
  margin-bottom: 30px;
}

.app-subnav__header {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: $govuk-black;
  margin: 0 0 10px;
  padding-top: 15px;

  &:first-child {
    padding-top: 0;
  }
}

.app-subnav__list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.app-subnav__item {
  margin-bottom: 8px;
}

.app-subnav__link {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;

  &:link,
  &:visited {
    color: $govuk-blue;
  }

  &:hover {
    color: #003078;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    text-decoration-skip-ink: none;
  }

  &:focus {
    outline: 3px solid transparent;
    color: $govuk-black;
    background-color: $govuk-yellow;
    box-shadow:
      0 -2px $govuk-yellow,
      0 4px $govuk-black;
    text-decoration: none;
  }

  &:active {
    color: $govuk-black;
  }
}

.app-subnav__link--current {
  display: block;
  color: $govuk-black;
  text-decoration: none;
  font-weight: 400;
  border-left: 4px solid $defra-dark-green;
  padding: 8px 10px;
  margin-left: -14px;
  background-color: $govuk-light-grey;

  &:link,
  &:visited {
    color: $govuk-black;
  }

  &:hover {
    color: $govuk-black;
    text-decoration: none;
  }
}
