@use 'variables/colours' as *;
@use 'sass:color';

.app-interruption-card {
    padding: 30px; // govuk-spacing(6)
    margin-top: 30px; // govuk-spacing(6)
    background-color: $govuk-light-grey;
    color: $govuk-black;
    border: none;
    text-align: left;

    .govuk-button {
        background-color: $defra-green;

        &:hover {
            // Darken by 20% to match govuk-shade($defra-green, 20%)
            background-color: color.adjust($defra-green, $lightness: -20%);
        }
    }
}