{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}

{% set mainClasses = "app-main-wrapper" %}

{% block bodyStart %}
  {% include "partials/cookie-banner.njk" %}
  {% if gtmContainerId and hasAnalyticsConsent %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtmContainerId }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
<header class="defra-header">
  <div class="defra-header__inner">
    <div class="defra-header__brand-group">
      <img
        src="{{ getAssetPath('images/defra-logo.svg') }}"
        alt=""
        role="presentation"
        class="defra-header__logo"
      />
      <a href="{{ headerServiceUrl | default('/') }}" class="defra-header__service-name">
        <span class="govuk-visually-hidden">Department for Environment, Food and Rural Affairs: </span>{{ headerServiceName | default('Digital service manual') }}
      </a>
    </div>
    {% include "partials/header-search.njk" %}
  </div>
</header>
{% if showMainNavigation %}
{% include "partials/main-navigation.njk" %}
{% elif customNav | length %}
<nav class="defra-service-navigation" aria-label="Service navigation" data-module="defra-service-navigation">
  <div class="defra-service-navigation__inner">
    <button type="button" class="defra-service-navigation__toggle js-service-navigation-toggle" aria-controls="service-navigation-list" aria-expanded="false" hidden>
      Menu
    </button>
    <ul class="defra-service-navigation__list" id="service-navigation-list">
      {% for item in customNav %}
      {% set isCurrent = currentUrl and item.href != '/' and currentUrl.startsWith(item.href) %}
      {% set isHomeCurrent = item.href == '/' and currentUrl == '/' %}
      <li class="defra-service-navigation__item">
        <a class="defra-service-navigation__link" href="{{ item.href }}"{% if isCurrent or isHomeCurrent %} aria-current="page"{% endif %}>{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% elif not hideServiceNavigation %}
{% include "partials/service-navigation.njk" %}
{% endif %}
{% endblock %}

{% block pageTitle %}
  {%- set suffix = headerServiceName or serviceName -%}
  {%- set displayTitle = pageTitle or title -%}
  {%- if displayTitle == suffix -%}
    {{ displayTitle }}
  {%- else -%}
    {{ displayTitle }} | {{ suffix }}
  {%- endif -%}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs and breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
