{% extends "layouts/page.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block beforeContent %}
  <a href="{{ questionBackHref or 'javascript:history.back()' }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if isResult %}
    {% if confirmationEmailFailed %}
      <div class="defra-alert defra-alert--warning" role="region" aria-labelledby="alert-heading">
        <svg class="defra-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" aria-hidden="true" focusable="false">
          <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M13.7,13.7h-2.4V7.2h2.4V13.7z M12.5,0L0,25h25L12.5,0z"/>
        </svg>
        <div class="defra-alert__content">
          <p class="govuk-body">Your submission has been received.</p>
          <p class="govuk-body">We were unable to send you a confirmation email. Please do not resubmit this form.</p>
        </div>
      </div>
    {% endif %}
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    {{ content | markdown | safe }}
  {% else %}
      {% if questionError %}
      {# Link error summary to the first radio input when radios are used, otherwise to the single input id #}
      {% if (questionInputType == 'radio' or not questionInputType) and questionOptions %}
        {% set questionErrorHref = '#question-1' %}
      {% else %}
        {% set questionErrorHref = '#question-input' %}
      {% endif %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">There is a problem</h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li><a href="{{ questionErrorHref }}">{{ questionError }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <form method="post" action="{{ questionSubmitHref }}">
        <div class="govuk-form-group{% if questionError %} govuk-form-group--error{% endif %}">

          {# Radio question (default) #}
          {% if questionInputType == 'radio' or not questionInputType %}
            {% if questionOptions %}
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% if questionCaption %}
                <span class="govuk-caption-l">{{ questionCaption }}</span>
                {% endif %}
                <h1 class="govuk-fieldset__heading">{{ title }}</h1>
              </legend>
              {% if questionHint %}
              <div id="question-hint" class="govuk-hint">{{ questionHint }}</div>
              {% endif %}
              {% if questionError %}
              <p id="question-input-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ questionError }}
              </p>
              {% endif %}
              <div class="govuk-radios" data-module="govuk-radios">
                {% for option in questionOptions %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="question-{{ loop.index }}" name="answer" type="radio" value="{{ option.text }}"{% if questionValue == option.text %} checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="question-{{ loop.index }}">{{ option.text }}</label>
                </div>
                {% endfor %}
              </div>
            </fieldset>
            {% endif %}
          {% endif %}

          {# Email input #}
          {% if questionInputType == 'email' %}
            {% if questionCaption %}
            <span class="govuk-caption-l" id="question-caption">{{ questionCaption }}</span>
            {% endif %}
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="question-input">{{ title }}</label>
            </h1>
            {% if questionHint %}
            <div id="question-hint" class="govuk-hint">{{ questionHint }}</div>
            {% endif %}
            {% if questionError %}
            <p id="question-input-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ questionError }}
            </p>
            {% endif %}
            <input
              class="govuk-input govuk-input--width-30{% if questionError %} govuk-input--error{% endif %}"
              id="question-input"
              name="answer"
              type="email"
              autocomplete="email"
              spellcheck="false"
              value="{{ questionValue or '' }}"
              aria-describedby="{% if questionCaption %}question-caption {% endif %}{% if questionHint %}question-hint {% endif %}{% if questionError %}question-input-error{% endif %}">
          {% endif %}

          {# Textarea input #}
          {% if questionInputType == 'textarea' %}
            {% if questionCaption %}
            <span class="govuk-caption-l" id="question-caption">{{ questionCaption }}</span>
            {% endif %}
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="question-input">{{ title }}</label>
            </h1>
            {% if questionHint %}
            <div id="question-hint" class="govuk-hint">{{ questionHint }}</div>
            {% endif %}
            {% if questionError %}
            <p id="question-input-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ questionError }}
            </p>
            {% endif %}
            <textarea
              class="govuk-textarea{% if questionError %} govuk-textarea--error{% endif %}"
              id="question-input"
              name="answer"
              rows="{{ questionRows or 5 }}"
              aria-describedby="{% if questionCaption %}question-caption {% endif %}{% if questionHint %}question-hint {% endif %}{% if questionError %}question-input-error{% endif %}">{{ questionValue or '' }}</textarea>
          {% endif %}

        </div>
        <button type="submit" class="govuk-button app-triage__submit" data-module="govuk-button">{{ questionContinueText or 'Continue' }}</button>
      </form>
    {% endif %}

  </div>
</div>
{% endblock %}