{% extends "layouts/page.njk" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    { text: "Defra Digital", href: "/" },
    { text: "Service Manual", href: "/service-manual" },
    { text: sectionTitle or title }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-one-third">
    {% include "partials/section-navigation.njk" %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body-l">{{ description }}</p>
    {{ content | markdown | safe }}
    {% include "partials/support-box.njk" %}
  </div>
</div>
{% endblock %}

