{% extends "layouts/page.njk" %}

{% block beforeContent %}
{% if breadcrumbs %}
{{ govukBreadcrumbs({
  items: breadcrumbs
}) }}
{% else %}
{{ govukBreadcrumbs({
  items: [
    { text: "Defra digital", href: "/" },
    { text: "Digital service manual", href: "/service-manual" },
    { text: title }
  ]
}) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  
    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body-l">{{ description }}</p>
    {{ content | markdown | safe }}
    {% include "partials/support-box.njk" %}
  </div>
</div>
{% endblock %}
