// Defra brand colours
$defra-green: #008531;
$defra-brand-green: #00A33B; // Large text only (18pt+ or 14pt bold)

$defra-light-green: #eefdf4;
$defra-brand-colour: $defra-green;

// GOV.UK colours (direct values to avoid function dependency)
$govuk-white: #ffffff;
$govuk-black: #0b0c0c;
$govuk-blue: #1d70b8;
$govuk-light-grey: #f3f2f1;
$govuk-mid-grey: #b1b4b6;
$govuk-yellow: #ffdd00;
$govuk-focus-colour: #ffdd00;

$app-light-grey: #f8f8f8;