{% extends "layouts/page.njk" %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Ask the toolkit</h1>

      <p class="govuk-body-l">Ask a question about using AI at Defra and get an answer from the AI digital toolkit.</p>

    </div>
  </div>
{% endblock %}
