@use 'govuk-frontend' as *;

// Example namespaced custom element style CSS classes

body {
  font-family: Helvetica, Arial, sans-serif;
}

.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}
